textarea {
    min-height: 400px;
}
.bordeado{
  border: 2px solid black;
  padding-left: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 20px;
}
.col-8 {
}
.span_sender {
  font-weight: bold;
  padding-left: 30px;
}
.span_subject {

}
.span_timestamp {
  color:gray;
}
.col-4{
  text-align: right;
}
.reading {
  font-weight: bold;
}
.class_archivar {
  z-index: 2;
  position:relative;
  left:25px;
  top:18px;
}
#archivar {
  padding-left:20px;
}
